.container {
    width: 800px;
    padding: 0 15px;
    margin: 0 auto;
}

.post {
    border: 1px solid black;
    width: 640px;
    margin: 5px auto;
    padding: 10px;
}

.postTitle {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
}