.header {
    display: flex;
    align-items: center;
}

.headerHeading {
    width: 70%;
}

.link {
    margin-right: 5px;
    padding-right: 5px;
    outline: none;
    color: #0000FF;
    border: none;
    background: none;
    text-decoration: underline;
}