.postInner {
    width: 500px;
    border: 1px solid black;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.postHeading {
    text-align: center;
    margin-top: 0;
}

.delete {
    position: absolute;
    border: none;
    background: none;
    outline: none;
    top: 0.5%;
    right: 0.5%;
}

.delete:hover {
    border: 1px solid black;
}

.edit {
    display: block;
    margin: 0 auto;
}