.addPost {
    border: 2px solid black;
    width: 600px;
    margin: 0 auto;
    padding: 0 10px 10px;
}

.newPostTitle {
    width: 100%;
    display: block;
    margin-bottom: 15px;
}

.newPostDescription{
    resize: none;
    display: block;
    width: 99.5%;
    min-height: 200px;
}

.saveBtn {
    margin-top: 10px;
}